<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Recruiting.Data.EventStore.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="Recruiting.Data.EventStore.Properties.Settings.EventSourceDbConnectionString"
        connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\App_Data\EventSourceDb.mdf;Integrated Security=True;Connect Timeout=30" />
  </connectionStrings>
  <applicationSettings>
    <Recruiting.Data.EventStore.Properties.Settings>
      <setting name="EventSourceDbProviderName" serializeAs="String">
        <value>System.Data.SqlClient</value>
      </setting>
    </Recruiting.Data.EventStore.Properties.Settings>
  </applicationSettings>
</configuration>